{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="webthemez">
    <title>Pet Care</title>
	<!-- core CSS -->
    <link href={% static "css/bootstrap.min.css" %} rel="stylesheet">
    <link href={% static "css/font-awesome.min.css" %} rel="stylesheet">
    <link href=(% static "css/animate.min.css" %} rel="stylesheet">
    <link href={% static "css/owl.carousel.css" %} rel="stylesheet">
    <link href={% static "css/owl.transitions.css" %} rel="stylesheet">
    <link href={% static "css/prettyPhoto.css" %} rel="stylesheet">
    <link href={% static "css/styles.css" %} rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href={% static "images/ico/favicon.ico" %}>
</head>

<body id="home">

    <header id="header">
        <nav id="main-nav" class="navbar navbar-default navbar-fixed-top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home' %}"><img src={% static "images/logo1.png" %} alt="logo" style="height: 50px;margin-left:auto;"></a>
                </div>

                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="scroll active"><a href="#home">Home</a></li>
                        <li class="scroll"><a href="#about">Who We</a></li>
                        <li class="scroll"><a href="#services">Our Service</a></li>
                        <li class="scroll"><a href="#pricing">Pricing</a></li>
                        <li class="scroll"><a href="#portfolio">Gallery</a></li>
                        <li class="scroll"><a href="#our-team">Team</a></li>
                        <li class="scroll"><a href="#contact-us">Contact</a></li>
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
    </header><!--/header-->

    <section id="main-slider">
        <div class="owl-carousel">
            <div class="item" style="background-image:url({% static "images/slider/bg3.jpg" %});">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h2><span style="color: orange">Pet Care</span> with Love</h2>
                                    <p>We know how much you love your pets,we are here to help!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
             <div class="item" style="background-image: url({% static "images/slider/bg2.jpg" %});">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h2><span style="color: orange">24/7</span> Pets Care</h2>
                                    <p>We know how much you love your pets,we are here to help!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.owl-carousel-->
    </section><!--/#main-slider-->



 <section id="about">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">About Us</h2>
                <p class="text-center wow fadeInDown" align="justify">We care for your cat or dog when they visit the vet. <br>Pet Care is dedicated to the Indian pet and its safety.</p>
            </div>

            <div class="row">
                <div class="col-sm-6 wow fadeInLeft">
                  <img class="img-responsive" src={% static "images/about.png"%} alt="">
                </div>

                <div class="col-sm-6 wow fadeInRight">
                    <h3 class="column-title">We Take Care Your Pets</h3>
                    <p align="justify">Pet Care was a pre technology pet who inspired a vision. We make available to all pets, the best the modern world has to offer. </p>

                    <p align="justify">So our products are pet approved and people tested! Our pets are keeping pace with us as human life expectancy rises; our 4-legged family members live longer lives.</p>

                    <a class="btn btn-primary" href="#">Learn More</a>

                </div>
            </div>
        </div>
    </section><!--/#about-->

    <section id="services" >
        <div class="container">

            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Our Services</h2>
                <p class="text-center wow fadeInDown" align="justify">Pet Care is dedicated to making life happier and easier for pet and pet parent.</p>
            </div>

            <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-heart"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Laporoscopy</h4>
                                <p align="justify">To perform veterinary laparoscopy, a veterinarian cuts a small incision, the size of a keyhole, in the dog's belly. </p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-compass"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Radiography</h4>
                                <p align="justify">These tests include radiography (x-rays),ultrasound,</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-bell"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Emergency</h4>
                                <p align="justify">Emergency care begins with your call to the veterinarian.We instruct you on how to administer first aid and how to safely transport your pet.</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-cube"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Neurology</h4>
                                <p align="justify">Dogs and cats can suffer from the same nervous system, brain, spinal cord, and neuromuscular problems as humans.</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-yelp"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Ultrasound</h4>
                                <p align="justify"> Ultrasound is the best, noninvasive, non-painful way to evaluate fluid-filled and soft tissue organs in pets.</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="500ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-life-ring"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Cardiology</h4>
                                <p align="justify">Cardiology is the medical field that treats a dog's cardiovascular system, which includes the heart and blood vessels.</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                </div>
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#services-->

<section id="pricing">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Fees</h2>
                <p class="text-center wow fadeInDown" align="justify">We here provide services at most desirable rates.</p>
            </div>

            <div class="row">
			<div class="col-md-4 menuItem">
                            <ul class="menu">
                                <li>
                                    Consult
                                    <div class="detail">A quick online consultation on pet's general health care, nutrition<span class="price">Rs200</span></div>
                                </li>
                                <li>
                                    Doppler Echo
                                    <div class="detail">Doppler echo was used to determine blood flow velocities in the normal canine heart<span class="price">Rs400</span></div>
                                </li>
                                <li>
                                    X-ray
                                    <div class="detail">X-rays are the most common form of imaging used by veterinarians<span class="price">Rs100</span></div>
                                </li>
                                <li>
                                    Endoscopies
                                    <div class="detail">For dogs and cats, endoscopy can provide a minimally invasive way to help diagnose gastrointestinal conditions<span class="price">Rs300</span></div>
                                </li>
                                <li>
                                    Major Operation
                                    <div class="detail">General anesthesia is commonly used in animals for major surgery<span class="price">Rs2000</span></div>
                                </li>
                            </ul>
                        </div>
						<div class="col-md-4 menuItem">
                            <ul class="menu">
                                <li>
                                    Minor Operation
                                    <div class="detail">If your pet develops a problem requiring advanced care and surgical procedures<span class="price">Rs1000</span></div>
                                </li>
                                <li>
                                    Dental Scaling
                                    <div class="detail">After a thorough examination of your pet's mouth, tooth scaling will be performed<span class="price">Rs300</span></div>
                                </li>
                                <li>
                                    Nail Clipping
                                    <div class="detail">Start trimming claws in young animals so that they get used to the process<span class="price">Rs50</span></div>
                                </li>
                                <li>
                                    ECG
                                    <div class="detail">An ECG is one of the most commonly used and safest diagnostic tools for evaluating your pet's cardiac health<span class="price">Rs60</span></div>
                                </li>
                                <li>
                                    Ultrasound Scan
                                    <div class="detail">Pet ultrasounds are a safe and commonly used way of imaging the inside of pets.<span class="price">Rs200</span></div>
                                </li>
                            </ul>
                        </div>
						<div class="col-md-4 menuItem">
                            <ul class="menu">
                                <li>
                                    Vaccination -ARV
                                    <div class="detail">The diseases involved have significant morbidity and mortality and are widely distributed<span class="price">Rs150</span></div>
                                </li>
                                <li>
                                    Semen Analysis-Dogs
                                    <div class="detail">Semen evaluation in the dog includes determination of semen volume, color.<span class="price">Rs300</span></div>
                                </li>
                                <li>
                                    EEG
                                    <div class="detail">Findings in normal and electroencephalography (EEG) in dogs and in veterinary medicine <span class="price">Rs250</span></div>
                                </li>
                                <li>
                                    Health Certificate
                                    <div class="detail">For all resident pets leaving the United States, these health certificates must be endorsed by the USDA along with proof of rabies vaccination<span class="price">Rs500</span></div>
                                </li>
                                <li>
                                    Master Health Checkup
                                    <div class="detail">Comprehensive full body Master Health Checkup for pets <span class="price">Rs4000</span></div>
                                </li>
                            </ul>
                        </div>
			</div>
        </div>
    </section><!--/#pricing-->


  <section id="portfolio">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Our Gallery</h2>
                <p class="text-center wow fadeInDown">Some pictures of pets treated and cured by us.</p>
            </div>

            <div class="text-center" style="display:none">
                <ul class="portfolio-filter">
                    <li><a class="active" href="#" data-filter="*">All Works</a></li>
                    <li><a href="#" data-filter=".designing">Coffee</a></li>
                    <li><a href="#" data-filter=".mobile">Snacks</a></li>
                    <li><a href="#" data-filter=".development">Continental</a></li>
                </ul><!--/#portfolio-filter-->
            </div>

            <div class="portfolio-items">
                <div class="portfolio-item designing">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src={% static "images/portfolio/1.jpg" %} alt="">
                        <div class="portfolio-info">
                            <h3></h3>
                            <a class="preview" href={% static "images/portfolio/1.jpg" %} rel="prettyPhoto"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item mobile development">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src={% static "images/portfolio/2.jpg" %} alt="">
                        <div class="portfolio-info">
                            <h3></h3>
                            <a class="preview" href={% static "images/portfolio/2.jpg" %} rel="prettyPhoto"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item designing">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src={% static "images/portfolio/3.jpg" %} alt="">
                        <div class="portfolio-info">
                            <h3></h3>
                            <a class="preview" href={% static "images/portfolio/3.jpg" %} rel="prettyPhoto"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item mobile">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src={% static "images/portfolio/4.jpg" %} alt="">
                        <div class="portfolio-info">
                            <h3></h3>
                            <a class="preview" href={% static "images/portfolio/4.jpg" %} rel="prettyPhoto"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item designing development">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src={% static "images/portfolio/5.jpg" %} alt="">
                        <div class="portfolio-info">
                            <h3></h3>
                            <a class="preview" href={% static "images/portfolio/5.jpg" %} rel="prettyPhoto"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item mobile">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src={% static "images/portfolio/6.jpg" %} alt="">
                        <div class="portfolio-info">
                            <h3></h3>
                            <a class="preview" href={% static "images/portfolio/6.jpg" %} rel="prettyPhoto"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item designing development">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src={% static "images/portfolio/7.jpg" %} alt="">
                        <div class="portfolio-info">
                            <h3></h3>
                            <a class="preview" href={% static "images/portfolio/7.jpg" %} rel="prettyPhoto"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item mobile">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src={% static "images/portfolio/8.jpg" %} alt="">
                        <div class="portfolio-info">
                            <h3></h3>
                            <a class="preview" href={% static "images/portfolio/8.jpg" %} rel="prettyPhoto"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
            </div>
        </div><!--/.container-->
    </section><!--/#portfolio-->



<section id="our-team" class="section teams">
  <div class="container">
   <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Doctors</h2>
                <p class="text-center wow fadeInDown">Some of our reknowned doctors who took care of our pets.</p>
            </div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="person"><img src={% static "images/team-1.jpg" %} alt="" class="img-responsive" style="height: 260px">
          <div class="person-content">
            <h4>Dr. Fatima Khan</h4>
            <h5 class="role">Founder</h5>
            <p>The founder of our Pet care.She is the most experienced and talented one.</p>
          </div>
          <ul class="social-icons clearfix">
            <li><a href="#"><span class="fa fa-facebook"></span></a></li>
            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
            <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="person"> <img src={% static "images/team-2.jpg" %} alt="" class="img-responsive" style="height: 260px">
          <div class="person-content">
            <h4>Dr. Parth Sharma</h4>
            <h5 class="role">Master</h5>
            <p>She is the founder of our Pet Care.She ran a house call practice, cared for a number of animals at a zoo, worked for a toxicology department</p>
          </div>
          <ul class="social-icons clearfix">
            <li><a href="#" class=""><span class="fa fa-facebook"></span></a></li>
            <li><a href="#" class=""><span class="fa fa-twitter"></span></a></li>
            <li><a href="#" class=""><span class="fa fa-google-plus"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="person"> <img src={% static "images/team 3.jpg" %} alt="" class="img-responsive" style="height: 260px">
          <div class="person-content">
            <h4>Dr. Sunil Tiwari</h4>
            <h5 class="role">Aerobic</h5>
            <p>He turned to nursing shortly after pursuing his veterinary degree.</p>
          </div>
          <ul class="social-icons clearfix">
            <li><a href="#" class=""><span class="fa fa-facebook"></span></a></li>
            <li><a href="#" class=""><span class="fa fa-twitter"></span></a></li>
            <li><a href="#" class=""><span class="fa fa-google-plus"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="person"> <img src={% static "images/team 4.jpeg" %} alt="" class="img-responsive" style="height: 260px">
          <div class="person-content">
            <h4>Dr. Sanjana</h4>
            <h5 class="role">Marketing</h5>
            <p>Pets love to be cured my him.Treats animals with utmost care and love.</p>
          </div>
          <ul class="social-icons clearfix">
            <li><a href="#" class=""><span class="fa fa-facebook"></span></a></li>
            <li><a href="#" class=""><span class="fa fa-twitter"></span></a></li>
            <li><a href="#" class=""><span class="fa fa-google-plus"></span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

    <section id="testimonial">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">

                    <div id="carousel-testimonial" class="carousel slide text-center" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <p><img class="img-thumbnail" src={% static "images/pic1.jpg" %} alt=""></p>
                                <h4>Fatima</h4>
                                <p>Really had a great experience working with Pet Care</p>
                            </div>
                            <div class="item">
                                <p><img class="img-thumbnail" src={% static "images/pic2.jpg" %} alt=""></p>
                                <h4>John Doe</h4>
                                <p>Would love to again work for Pet Care.They are doing a great job.</p>
                            </div>
                        </div>

                        <!-- Controls -->
                        <div class="btns">
                            <a class="btn btn-primary btn-sm" href="#carousel-testimonial" role="button" data-slide="prev">
                                <span class="fa fa-angle-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="btn btn-primary btn-sm" href="#carousel-testimonial" role="button" data-slide="next">
                                <span class="fa fa-angle-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#testimonial-->


    <section id="contact-us">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Contact Us</h2>
                <p class="text-center wow fadeInDown" style="color: #000">Contact Us anytime.We are always there to help</p>
            </div>
        </div>
    </section><!--/#contact-us-->


    <section id="contact">
        <div class="container-wrapper">
            <div class="container contact-info">
                <div class="row">
				  <div class="col-sm-4 col-md-4">
                        <div class="contact-form">
                            <address class="col-sm-10">
                              <strong>Pet Care.</strong><br>
                              C-20/1 PetCare<br>
                              Noida 201301<br>
                              <abbr title="Phone">P:</abbr> (123) 456-7890
                            </address>

							<article class="hours-block col-sm-10">

							<div><strong>Walk-in Hours</strong></div><br/>
							<div class="pull-left">
							<p><b>Monday &amp; Tuesday</b></p>
							<p><b>Wednesday</b></p>
							<p><b>Thursday</b></p>
							<p><b>Friday</b></p>
							<p><b>Saturday</b></p>
							</div>

							<div class="pull-right">
							<p>7am-8pm</p>
							<p>9am-8pm</p>
							<p>7am-8pm</p>
							<p>8am-8pm</p>
							<p>9am-8pm</p>
							</div>

							</article>

					</div></div>
                    <div class="col-sm-8 col-md-8">
						<div class="contact-form">

		<form method='POST'>
            {% csrf_token %}
		<div class="control-group">
		<div class="controls">
		<input type="text" class="form-control"
		placeholder="Full Name" name="name" required
		data-validation-required-message="Please enter your name" />
		<p class="help-block"></p>
		</div>
		</div>
		<div class="control-group">
		<div class="controls">
		<input type="email" class="form-control" placeholder="Email"
		name="email" required
		data-validation-required-message="Please enter your email" />
		</div>
		</div>
		<div class="control-group">
		<div class="controls">
		<textarea rows="10" cols="100" class="form-control"
		placeholder="Message" name="message" required
		data-validation-required-message="Please enter your message"
		style="resize:none"></textarea>
		</div>
		</div>
		<div id="success"> </div> <!-- For success/fail messages -->
		<button type="submit" class="btn btn-primary pull-right">Send</button><br />
		</form>

						</div>
                    </div>
                </div>
            </div>
        </div>
<div id="google-map" style="height:400px" data-latitude="28.6135" data-longitude="77.3594"></div>
   </section><!--/#bottom-->

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2020 All Rights Reserved.
                </div>
                <div class="col-sm-6">
                    <ul class="social-icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/manshi-todi-a017a2178/"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="https://github.com/todi-2000"><i class="fa fa-github"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src={% static "js/jquery.js" %}></script>
    <script src={% static "js/bootstrap.min.js" %}></script>
    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src={% static "js/owl.carousel.min.js" %}></script>
    <script src={% static "js/mousescroll.js" %}></script>
    <script src={% static "js/smoothscroll.js" %}></script>
    <script src={% static "js/jquery.prettyPhoto.js" %}></script>
    <script src={% static "js/jquery.isotope.min.js" %}></script>
    <script src={% static "js/jquery.inview.min.js" %}></script>
    <script src={% static "js/wow.min.js" %}></script>
    <script src={% static "contact/jqBootstrapValidation.js" %}></script>
    <script src={% static "contact/contact_me.js" %}></script>
    <script src={% static "js/contact.js" %}></script>
    <script src={% static "js/custom-scripts.js" %}></script>
</body>
</html>
